/* mulish-300 - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/mulish-v5-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mulish-v5-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-regular - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/mulish-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mulish-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-600 - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/mulish-v5-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mulish-v5-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-700 - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/mulish-v5-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/mulish-v5-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserrat-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  h4{
     font-weight: bold;
     font-size: 22px;
     color:#fff;
  }
     html{ 
          overflow-x: hidden; 
     }

  body{
       font-family:'Mulish';
       font-style: normal;
       font-size: 16px;
       line-height: 1.2;
       font-weight: normal;
       color:#7D7987;
       margin: 0;
  }
  
  h3{
     font-weight: bold;
     font-size: 24px;
     line-height: 56px;
     color:#000;
     padding-left: 39px;
     margin: 0;   
}
  h2{
     font-weight: bold;
     font-size: 36px;
     line-height: 56px;
     position: relative;
     color: #000; 

  }
  h1{
     font-family: Montserrat;
     font-weight: bold;
     font-size: 48px;
     line-height: 56px;
     color:#000000;
  }
  .general{
     padding: 3px 40px;
     font-weight: bold;
     font-size: 18px;
     color:#458FF6;
     background:white;
     border-radius: 55px;
     width: 200px; 
     height: 56px;
     border: 1.4px solid #458FF6;
}

     .img{
          max-width: 100%;
          height: auto;
     }
  .wrapper{
       max-width: 1200px;
       margin: 0 auto;
       padding: 0 15px;
  }
  
  /* header styles start */
 
  .header_wrapper{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding-top: 56px;
  }
  .header_logo-link{
       display: flex;
       align-items: center;
  }
  .header_list{
       display: flex;
       margin: 0;
       padding: 0;
  }
  .header_item{
       margin-right: 40px;
  }
  
  .header_link{
     font-size: 18px;
     line-height: 23px;
     color: #1F1534;
     text-decoration: none;
     opacity: 0.5;
  }
  .header_link:hover{
     text-shadow: 0.25px 0.1px 0px #222, -0.25px -0.1px 0px #222;
     opacity: 1;
  }
  
  .letter_logo{
       background:#458FF6;
       font-weight: 700;
       width: 40px;
       height: 40px;
       border-radius:20px;
       font-size: 26px;
       color:#fff;
       display: flex;
       align-items: center;
       justify-content: center;
       margin: 0;  
  }
  .text_logo{
       color:#233348;
       font-size: 24px;
       margin: 0;
       margin-left: 12px;
  }
  .header_logo-link{
       text-decoration: none;
  }
  

  ul{
       list-style-type: none;
  }

  .header_burger{
       display: none;
       width: 40px;
       height: 28px;
       position: relative;
  }
  .burger_line{
       display: block;
       width: 100%;
       height: 2px;
       background-color:#000;
       position: absolute;
       left: 0;
  }
  .burger_line_first{
       top: 0;
       height: 1.5px;
  }
  .burger_line_second{
     top: 50%;
     transform: translateY(-50%);
  }
  .burger_line_third{
     bottom: 0;
  }

  /* header styles end */

  /* intro styles start */
  .intro{
     margin-top: 84px;
  }
  .intro_text_block{
       display:flex;
  }
  
  .intro_text{
      padding-top: 85px;
  }
  .intro_title{
       margin-bottom: 25px;
  } 
  .intro_subtitle{
     font-weight: 300;
     font-size: 21px;
     line-height: 32px;
     margin-bottom: 48px;
     padding-right: 32px;
  }
  .consult-intro_submit{ 
       color:white;
       background:#458FF6;
       border:0;
  }
  .consult-intro_submit:hover{
    cursor: pointer;
    background:white;
    color:#458FF6;
    border: 1.4px solid #458FF6;
    padding: 0;
  }
  .virtual_health_pic{
       width: 693px;
       height: 598px; 
  }
  /*intro styles end */

  /* services styles start */
  .services{
       margin-top: 192px;
  }
  .services_wrapper{
       width: 955px;
       margin: 0 auto;
       text-align: center;
  }
  
  .services_title::after{
     content: "";
     position: absolute;
     width: 56px;
     height: 2px;
     background-color: #000;
     bottom: 0;
     left: 0;
     right: 0;
     margin: 0 auto;  
     border-radius:5px;
     top:66px;
  }
  
  .services_subtitle{
     font-size: 18px;
     line-height: 30px;
     margin-top: 15px;
  }

  .services_cards{
       display:grid;
       grid-template-columns: repeat(3, 350px);
       grid-column-gap: 34px;
       grid-row-gap: 37px;
       margin-top: 80px;
       justify-content: center;
       
  }
  .services_card{
       box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
       border-radius: 20px;
       background: #FFFFFF;
       height: 354px;   
  }
  .services_card-content{
       padding-top: 50px ;
       padding-left:39px;
  }

  .services_card_pic{
       margin-bottom: 30px;
       padding-top: 50px;
       padding-left: 39px;
       
  }
  .services_card-thumb{
       display: block;
       max-width: 92px;
       height: 80px;
  }
    
  .services_card-desc{
       font-weight: 300;
       font-size: 16px;
       line-height: 28px;
       padding-left: 39px;
       padding-right:40px;
       margin-top: 5px;    

  }
  .services-button_block{
       display:flex;
       justify-content: center;
       margin-top: 72px;
  }
  
.services-button:hover{
  cursor: pointer;
  background:#458FF6;
  color:white;
  padding: 0; 
}

/* services styles end */

/* providers styles start */
.providers{
     margin-top: 220px;
}

.providers_block{
     display:flex
}
.leading_health_pic{
     width: 650px;
     height: 477px;
}
.providers_text{
     padding-top: 27px;
     margin-left: 142px; 
}

.providers_title::after{
     content: "";
     position: absolute;
     width: 56px;
     height: 2px;
     background-color: #000;  
     border-radius:5px;
     left:2px;
     top: 140px;
  }
 
  .providers_subtitle{
       font-weight: 300;
       font-size: 18px;
       line-height: 30px;
       margin-top:59px;
       padding-right: 5px;
  }

  .providers-button{
     margin-top: 30px;
}
.providers-button:hover{
  cursor: pointer;
  background:#458FF6;
  color:white;
  padding: 0; 
}

/* providers styles end */

/* mobile styles start */
.mobile{
     margin-top: 229px;
}
.mobile_block{
     display: flex;
}

.mobile_title{
     padding-right:170px;
}

.mobile_title::after{
     content: "";
     position: absolute;
     width: 56px;
     height: 2px;
     background-color: #000;  
     border-radius:5px;
     left:2px;
     top:140px;
  }
.mobile_subtitle{
     margin-top: 63px;
     font-weight: 300px;
     font-size: 18px;
     line-height: 30px;
     padding-right:150px;
}

.mobile-button{
     padding-right: 68px;
     margin-top: 30px;
     background:url(/img/svg/arrow-down-icon.svg) no-repeat ;
     background-position: right 43px bottom 20px;
}
.mobile-button:hover{
  cursor: pointer;
  background:url(/img/svg/arrow-down-icon-white.svg) no-repeat  ;
  background-position: right 43px bottom 20px;
  background-color:#458FF6;
  color:white;
  padding: 0; 
  padding-right: 25px;
}
 

.mobile_health_pic{
     width:665px;
     height: 434px;
}

/* mobile styles end */

/* customer styles start */

.customer{
     width: 1120px;
     height: 425px;
     background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
     border-radius: 24px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 266px;
}

.customer_title{  
     color:#FFF;
     text-align: center;
     padding-top: 64px;
}
.customer_title::after{
     content: "";
     position: absolute;
     width: 56px;
     height: 2px;
     background-color: #fff;
     bottom: 0;
     left: 0;
     right: 0;
     margin: 0 auto;  
     border-radius:5px;
     top:140px;
  }
  .customer_block{
       display: flex;
       padding-left: 118px;
       padding-top: 66px;
  }
  .customer_health_pic{
       width: 141px;
       height: 141px;
       width: 50%;
  }
  .customer_info{
       margin-left: 29px;
       width: 100%;
       margin-right: 20px;
       padding-top: 10px;
  }
  .customer_info_title{
      margin-bottom: -23px;  
  }
  .customer_info_subtitle{
       font-size: 18px;
       line-height: 48px;
       color:#fff;
       opacity: 85%;
  }
  .customer_words{
       padding-right: 140px;
       font-size: 19px;
       line-height: 30px;
       color:#fff;
       opacity: 90%;
       margin-top: 10px;
        
  }
  /* customer styles end */

  /*check styles start */
  .check_title{
       margin-top: 284px;
       text-align: center;
  }
  .check_title::after{
     content: "";
     position: absolute;
     width: 56px;
     height: 2px;
     background-color: #000;
     bottom: 0;
     left: 0;
     right: 0;
     margin: 0 auto;  
     border-radius:5px;
     top:76px;
  }

  .check_cards{
     display:grid;
     grid-template-columns: repeat(auto-fit, 350px);
     grid-column-gap: 34px;
     padding-top: 72px;
     justify-content: center;
  }
  .check_card{
     box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
     border-radius: 20px;
     background: #FFF;
     height: 512px;
  }
  .check_card_thumb{
       width: 350px;
       height: 240px;
       max-width: 100%;
  }
  .check_card_text{
     margin-left: 33px;
  }
  .check_card_title{
       line-height: 32px;
       color:#000;
       margin-top: 21px;
       padding-right:30px;
       margin-bottom: 12px;
     
  }
  .check_card_subtitle{
       font-weight: 300;
       line-height: 28px;
       padding-right:50px;
       margin-bottom: 25px;
  }
  .check_card-more{
     display: inline-block;
     padding-right: 30px;  
     font-weight: 600;
     line-height: 28px;
     color: #4089ED;
     text-decoration: none;
     background:url(../img/svg/arrow-right-icon.svg) no-repeat right center;
     background-position: 95px 11px;
     
  }
      
.check_card-more:hover, check_card-more:focus{
     
     background:url(../img/svg/arrow-right-icon.svg) no-repeat right center;
     background-position: 97px 11px;
     font-weight: bold;
}
.check-button_block{
     display:flex;
     justify-content: center;
}

.check-button{
     margin-top: 72px;
}

.check-button:hover{
     cursor: pointer;
     background:#458FF6;
     color:white;
     padding: 0; 
   }

/* check styles end */  

/* footer styles start */
.footer{
     height: 230px;
     background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
     margin-top: 202px;
     padding: 135px 190px;
     padding-right: 120px;
}
.footer_logo{
    width: 40%;
    display: flex;
    align-items: center;
}
.letter_logo-footer{
     background: #fff;;
     font-weight: 700;
     width: 40px;
     height: 40px;
     border-radius:20px;
     font-size: 26px;
     color:#5B9BF3;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0;  
}
.text_logo-footer{
     color: #fff;
     font-size: 24px;
     margin: 0;
     margin-left: 12px;
}
.footer_info{
     padding-top: 22px;
}
.footer_subtitle{
     font-weight: 300;
     font-size: 18px;
     line-height: 28px;
     color:#fff;
     margin-top: 17px;
     padding-right: 172px;
}
.all-rights-reserved{
     font-weight: 300;
     line-height: 28px;
     color:#fff;
     margin-top: 31px;
}
.footer_item{
     display: flex;
}

.footer_nav{
     width: 100%;
     display: flex;
     justify-content: space-between;
}


.footer_menu-title{
     line-height: 60px;
     color:#fff;
     padding-left: 0;
}
.footer_menu-link{
     font-weight: 300;
     font-size: 18px;
     line-height: 38px;
     color:#fff;
     text-decoration: none;
}
.footer_menu-link:hover, .footer_menu-link:focus{
     opacity: 0.75;
}

/* footer styles end */

.owl-carousel .owl-nav button.owl-next{
     margin-left: 277px;
}
.owl-carousel .owl-nav button.owl-next, .owl-prev{
     margin-top: 43px;

}
.owl-carousel .owl-nav button.owl-next:hover{
     background:none;
}
.owl-carousel .owl-nav button.owl-prev:hover {
     background:none;
}
.owl-theme .owl-dots button.owl-dot span{
     margin: 5px 10px;
     background:#5B9BF3;
     opacity:0.3;
}
.owl-theme .owl-dots button.owl-dot.active span{
     background:#5B9BF3;
     opacity: 1;
}

.owl-theme .owl-dots{
     margin-top:-28px;
}

/* media start */
@media screen and (max-width:1152px){
     .header_link{
          font-size: 20px;
     }
     .services_subtitle{
          font-size: 20px;
     }
     .services_cards{
          grid-template-columns: repeat(2, 280px);
     }
     .services_card-thumb{
          max-width: 82px;
          height: 70px;
     }
     h3{
          font-size: 25px;
          line-height: 45px;
     }
     .services_card-desc{
          font-size: 19px;
     } 
     .services_cards {
          grid-template-columns: repeat(2, 400px);
      }
      .providers{
           margin-top: 170px;
      }
      .providers_text{
           margin-left: 82px;
      }
      .providers_subtitle{
           font-size: 20px;
      }
      .leading_health_pic{
           padding-top:80px;
      }
      .mobile_title{
           padding-right: 0;
      }
      .mobile_subtitle{
           padding-right: 80px;
           font-size: 20px;
      }
      .customer{
          width: 1000px;
          height: 425px;
          margin-top: 166px;
     }
     .customer_health_pic {
          padding-top: 10px;
          width: 60%;
      }
      .customer_info_subtitle{
          font-size: 20px;
          line-height: 38px;
     }
     
     .check_title{
          margin-top: 170px;
     }
     .check_card:last-child{
          margin-top: 40px;
     }
     .check_card{
          height: 572px;
       }
     h4{
          font-size: 24px;
     }
     .check_card_subtitle{
          font-size: 20px;
          padding-right: 45px;
     }
     .check_card-more{
          font-size: 20px;
          background-position: 115px 11px;
     }
     .check_card-more:hover, check_card-more:focus{
          background-position: 117px 11px;
     }
     .footer{
          margin-top: 152px;
          padding: 105px 60px 135px 80px;
     }
     .footer_logo{
          width: 100%;
     }
     .footer_subtitle{
          padding-right: 0;
     }
     .footer_info{
          padding-top:24px;
     }
     
     
}
@media screen and (max-width:960px){
     body{
          overflow-x: hidden;
     }
     .header_wrapper{
          padding-top: 26px;
     }
     .header_link{
          font-size: 20px;
     }
     .header_item{
          margin-right: 20px;
     }
     .virtual_health_pic{
          width: 493px;
          height: 398px;
     }
     .intro_title{
          font-size: 40px;
          margin-bottom: 10px;
     }
     .intro_subtitle{
          font-weight: 300;
          font-size: 22px;
          line-height: 30px;
          margin-bottom: 28px;
          padding-right: 32px;
       }
     .intro_text{
          padding-top: 15px;
     }
     .services{
          margin-top: 132px;
     }
     .services_wrapper{
          width: auto;
          padding: 0 15px;
     }
     .services_title::after{
          top: 58px;
     }
     .services_subtitle{
          font-size: 20px;
     }
     .services_cards{
          grid-template-columns: repeat(2, 280px);
     }
     .services_card-thumb{
          max-width: 82px;
          height: 70px;
     }
     h3{
          font-size: 25px;
          line-height: 45px;
     }
     .services_card-desc{
          font-size: 19px;
     } 
     .services_card{
          height: 350px;
     }
     .leading_health_pic{
          width: 480px;
          height: 300px;
          padding-top: 100px;
     }
     .providers_text{
          margin-left: 102px; 
     }
     .providers{
          margin-top: 150px;
     }
     h2{
          font-size: 35px;
          line-height: 46px;
     }
     
     .providers_subtitle{
          font-size: 18px;
          line-height: 25px;
          padding-right: 0;
     } 
     .providers-button{
          margin-top: 20px;
     }
     .mobile_health_pic{
          width: 500px;
          height: 274px;
          padding-top: 50px;
     }
     .mobile_title{
          padding-right:80px;
     }
     .mobile_subtitle{
          font-size: 18px;
          line-height: 25px;
          padding-right:55px;
     }
     .mobile-button{
          margin-top: 20px;
     }
     .mobile{
          margin-top: 190px;
     }
     .customer{
          width: 750px;
          height: 325px;
          margin-top: 166px;
     }
     .customer_title{  
          padding-top: 44px;
     }
     .customer_title::after{
          width: 46px;
          top:120px;
       }
       .customer_block{
       display: flex;
       padding-left: 0;
       padding-top: 16px;
  }
  .customer_health_pic{
       display: none;
  }
  .customer_info{
       margin-left: 20px;
       width: 100%;
       margin-right:50px;
       padding-bottom: 50px;
  }
  .customer_info_title{
      margin-bottom: 0px;  
  }
  .customer_info_subtitle{
       font-size: 18px;
       line-height: 8px;
  }
  .customer_words{
       padding-right: 20px;
       font-size: 19px;
       line-height: 30px;
       color:#fff;
       opacity: 90%;
       margin-top: 10px;
  }
  .check_title{
     margin-top: 170px;
}
.check_card:last-child{
     margin-top: 40px;
}
.check_card{
     height: 542px;
  }
h4{
     font-size: 24px;
}
.check_card_subtitle{
     font-size: 18px;
     padding-right: 45px;
}
.check_card-more{
     font-size: 18px;
     background-position: 105px 11px;
}
.check_card-more:hover, check_card-more:focus{
     background-position: 107px 11px;
}
.footer{
     margin-top: 152px;
     padding: 105px 60px 135px 80px;
}
.footer_logo{
     width: 100%;
}
.footer_subtitle{
     padding-right: 0;
}
.footer_info{
     padding-top:24px;
}
  
}

@media screen and (max-width:767px){
     .header_burger{
          display: block;
     }
     .header_nav{
          width: 30%;
          height: 30%;
          position: fixed;
          top: 0;
          left: 0;
          background-color:#5B9BF3;
          z-index: 10;
          padding: 75px;
          padding-left: 35px;
          transform: translateX(300%);
          border-radius:5%;
     }
     .header_nav_active{
          transform: translateX(125%);
     }
     .header_list{
          flex-wrap: wrap;
     }
     .header_item{
          width: 100%;
          margin-right: 0;
          margin-bottom: 30px;
     }
     .header_item:last-child{
          margin-bottom: 0;
     }
     .header_link{
          font-size: 36px;
          line-height: 40px;
          color: #fff;
          opacity: 1;
     }
     .header_nav-close{
          width: 40px;
          height: 40px;
          position: absolute;
          top: 20px;
          right: 20px;
          z-index: 11;
     }
     .header_nav-close-line{
          display: block;
          width: 100%;
          height: 2px;
          background:#fff;
          position: absolute;
          top: 50%;  
     }
     .header_nav-close-line:first-child{
          transform: translateY(-50%) rotate(45deg);
     }
     .header_nav-close-line:last-child{
          transform: translateY(-50%) rotate(-45deg);
     }
     .virtual_health_pic{
          display: none;
     }
     .intro{
          margin-top: 24px;
     }
     .intro_subtitle{
          padding: 0;
     }
     .services{
          margin-top: 100px;
     }
     .services_cards{
          grid-template-columns: repeat(1, 280px);
     }
     .services_card{
          height: 340px;
     }
     .providers{
          margin-top:80px;
     }
     .leading_health_pic{
          display: none;
     }
     .providers_text{
          margin-left: 0;
     }
     .mobile{
          margin-top: 110px;
     }
     .mobile_health_pic{
          display: none;
     }
     .mobile_title{
          padding-right: 0;
     }
     .mobile_subtitle{
          padding-right: 0;
     }
     .customer{
          width:290px;
          height: 280px;
          margin-top: 136px;
     }
     .customer_title{
          font-size: 18px;
          padding-top:24px;
          padding-right: 0;
          margin: 0;
     }
     .customer_info{
          margin-right: 0;
          padding-bottom: 0;
          margin-left: 0;
     }
     .customer_info_title{
          font-size: 17px;
     }
     .customer_info_subtitle{
          font-size: 14px;
          line-height: 18px;
          margin: 5px 0;
     }
     .customer_words {
          padding-right: 0;
          font-size: 13px;
          line-height: 20px;
          padding: 0 10px;
          margin: 0;
          margin-top: 10px;
     }
     .customer_block{
          flex-direction: column;
          text-align: center;
          padding-top: 0;
     }
     .customer_title::after{
          width: 36px;
          top:70px;
       }
       .owl-carousel .owl-nav button.owl-next{
          margin-left: 150px;
     }
     .owl-carousel .owl-nav button.owl-next, .owl-prev{
          margin-top: 23px;
     }
     .check_title{
          margin-top: 130px;
     }
     .check_title::after{
          top:106px;
       }
       .check_cards {
          grid-template-columns: repeat(auto-fit, 280px);
          grid-row-gap: 40px;
          padding-top: 42px;
       }
       .check_card-thumb{
            width: 280px;
       }
       .check_card:last-child {
          margin-top: 0;
      }
      .footer {
          margin-top: 122px;
          padding: 35px 30px 55px 30px;
          height: 100%;
      }
      .footer_item{
           flex-direction: column;
      }
      .footer_nav{
           flex-wrap: wrap;
      }
      .footer_menu{
           padding-left: 0;
      }
      
}
@media screen and (max-width:321px){
     .providers_title::after{
         top: 160px;
     }
    
}

@media screen and (max-width:1092px){
     .providers_title::after{
          top: 190px;
     }
}

  @media screen and (max-width:960px){
      .providers_title::after{
           top: 120px;
      }
     }      
 
 @media screen and (max-width:861px){
      .providers_title::after{
           top: 160px;
      }
     }
 
 @media screen and (max-width:767px){
      .providers_title::after{
          top: 70px;
      }
      .mobile_title::after{
           top:70px;
      }
      .check_title::after{
           top:60px;
      }
     }
 @media screen and (max-width:516px){
      .providers_title::after{
           top: 110px;
      }
      .header_nav_active{
          transform: translateX(90%);
     }
     }
 @media screen and (max-width:480px){
      .mobile_title::after{
           top: 110px;
      }
      .header_nav_active{
          transform: translateX(85%);
     }
     }
 @media screen and (max-width:448px){
      .check_title::after{
           top: 120px;
      }
      .header_nav_active{
          transform: translateX(75%);
    }   
     }
 @media screen and (max-width:351px){
      .providers_title::after{
           top: 160px;
      }
     }
     @media screen and (max-width:721px){
     .header_nav_active{
          transform: translateX(120%);
      }
     }
     @media screen and (max-width:681px){
      .header_nav_active{
           transform: translateX(115%);
       }
      } 
      @media screen and (max-width:641px){
          .header_nav_active{
                transform: translateX(110%);
       }
      }
      @media screen and (max-width:600px){
          .header_nav_active{
               transform: translateX(110%);
           }
          }
      @media screen and (max-width:560px){
          .header_nav_active{
               transform: translateX(100%);
           }
          }
      @media screen and (max-width:400px){
           .header_nav_active{
                transform: translateX(65%);
           }
        }                                   
/* media end */

